<template>
  <div>
    <div class="form-group">
      <label>Name</label>
      <input
        :value='firstName'
        @input='nameChanged(true, $event)'
        type='text'
        class='form-control'>
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input
        :value='lastName'
        @input='nameChanged(false, $event)'
        type='text'
        class='form-control'>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      value: String
    },
    methods: {
      nameChanged(isFirst, event) {
        let name = '';
        if (isFirst) {
          name = event.target.value + ' ' + this.lastName;
        } else {
          name = this.firstName + ' ' + event.target.value;
        }
        this.value = name;
        this.$emit('input', this.value);
      }
    },
    computed: {
      firstName() {
        return this.value.split(" ")[0];
      },
      lastName() {
        return this.value.split(" ")[1];
      }
    }
  }

</script>