<template>
  <div class="container">
    <form v-if='!isSubmitted'>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <!-- Exercise 1 -->
          <!-- Create a Signup Form where you retrieve the following Information -->
          <!-- Full Name (First Name + Last Name) -->
          <!-- Mail -->
          <!-- Password -->
          <!-- Store Data? Yes/No -->
          <app-full-name
            v-model='userData.fullName'>
          </app-full-name>
          <div class="form-group">
            <label>Email</label>
            <input
              v-model='userData.email'
              type='email'
              class='form-control'>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              v-model='userData.password'
              type='password'
              class='form-control'>
          </div>
          <div class="form-group">
            <label>
              <input
                type='radio'
                value='Yes'
                v-model='userData.storeData'>Yes
            </label>
            <label>
              <input
                type='radio'
                value='No'
                v-model='userData.storeData'>No
            </label>
          </div>


          <!-- Exercise 2 -->
          <!-- Only display the Form if it has NOT been submitted -->
          <!-- Display the Data Summary ONCE the Form HAS been submitted -->
          <div class="row">
            <button
              @click.prevent='submitForm'
              class='btn btn-primary'>
              Submit
            </button>
          </div>

          <!-- Exercise 3 -->
          <!-- Edit the Example from above and create a custom "Full Name" Control -->
          <!-- which still holds the First Name and Last Name Input Field -->
        </div>
      </div>
    </form>

    <div class="row" v-if='isSubmitted'>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Your Data</h4>
          </div>
          <div class="panel-body">
            <p>Full Name: {{ userData.fullName }}</p>
            <p>Mail: {{ userData.email }} </p>
            <p>Password: {{ userData.password }}</p>
            <p>Store in Database?: {{ userData.storeData }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FullName from './components/FullName.vue';

  export default {
    data: function() {
      return {
        userData: {
          fullName: 'David Manso',
          email: '',
          password: '',
          storeData: 'No'
        },
        isSubmitted: false
      }
    }, 
    methods: {
      submitForm: function() {
        this.isSubmitted = true;
      }
    },
    components: {
      appFullName: FullName
    }
  }
</script>

<style>
  input:invalid {
    border-color: red;
  }

  body {
    padding-top: 20px
  }
</style>
